<div class="row calendar">
      <div class=" large-12 columns">
      
        <table class="calendar">
        
          <thead>
            <tr>
              <th width="300">Sun</th>
              <th width="300">Mon</th>
              <th width="300">Tue</th>
              <th width="300">Wed</th>
              <th width="300">Thu</th>
              <th width="300">Fri</th>
              <th width="300">Sat</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td class="inactive">
                <div>
                  <span class="day">10/29</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td class="inactive">
                <div>
                  <span class="day">10/30</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td class="inactive">
                <div>
                  <span class="day">10/31</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/1</span>
                  <span class = "plus">+</span>
                  <div class = "food_item">Gorditas</div>
                  <div class = "food_item">Tacos</div>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/2</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/3</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/4</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <span class="day">11/5</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/6</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/7</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/8</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/9</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/10</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/11</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <span class="day">11/12</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/13</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/14</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/15</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/16</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/17</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/18</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <span class="day">11/19</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/20</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/21</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/22</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/23</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/24</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/25</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <span class="day">11/26</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/27</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/28</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/29</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td>
                <div>
                  <span class="day">11/30</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td class="inactive">
                <div>
                  <span class="day">12/1</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
              <td class="inactive">
                <div>
                  <span class="day">12/2</span>
                  <span class = "plus">+</span>
                  <a href="#" data-reveal-id="myModal"><div class = "bottom">...</div></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<div class="row">
  <div class="small-12 small-centered columns">
    
    <ul class="button-group round toggle" data-toggle="buttons-radio">
      <li>
        <input type="radio" id="r1" name="r-group" data-toggle="button">
        <label class="button" for="r1">Breakfast</label>
      </li>
      <li>
        <input type="radio" id="r2" name="r-group" data-toggle="button">
        <label class="button" for="r2">Lunch</label>
      </li>
      <li>
        <input type="radio" id="r3" name="r-group" data-toggle="button">
        <label class="button" for="r3">Dinner</label>
      </li>
    </ul>
    
  </div>
</div>

<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

    <script src="assets/javascripts/jquery.min.js"></script>
    <script src="assets/javascripts/foundation.reveal.js"></script>
    
