<div id="buttondiv">
	<div class = "row">
		<div class="medium-4 columns">&nbsp;</div>
		<div class="medium-2 columns">
			<a href="descriptor1" class="button large">Previous</a>
		</div>
		<div class="medium-2 columns">
			<a href="vote" class="button large">Continue</a>
		</div>
		<div class="medium-4 columns">&nbsp;</div>
	</div>
</div>
<div id="footer">
	<div class="row">
	  	<div class="medium-3 columns leftpb ls"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-3 columns rightpb rus"></div>
	</div>
</div>