<h1>thanks fuckers</h1>


<%= link_to("back 2 da hoepage", controller: "feedback", action: "home")%>

<div id="footer">
	<div class="row">
	  	<div class="medium-3 columns leftpb ls"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-3 columns rightpb rs"></div>
	</div>
</div>