<h1>How was your meal today?</h1>
<h3>Touch one to continue</h3>
<!--Smile and frown icons are by Anton Scherbik for the Noun Project-->
<div class="row">
	<div class="faces">
  	<div class="large-6 columns">
  		<a href="food_selection">
  			<div class="happy"></div>
  		</a>
  	</div>
  	<div class="large-6 columns">
  		<a href="food_selection">
  			<div class="sad"></div>
  		</a>
   	</div>
   	</div>
</div>
<div id="footer">
	<div class="row">
	  	<div class="medium-3 columns leftpb ls"></div>
	  	<div class="medium-2 columns centerpb mus"></div>
	  	<div class="medium-2 columns centerpb mus"></div>
	  	<div class="medium-2 columns centerpb mus"></div>
	  	<div class="medium-3 columns rightpb rus"></div>
	</div>
</div>