<%= link_to("I had this much", controller: "feedback", action: "descriptors")%>
<div id="footer">
	<div class="row">
	  	<div class="medium-3 columns leftpb ls">3</div>
	  	<div class="medium-2 columns centerpb ms">3</div>
	  	<div class="medium-2 columns centerpb ms">3</div>
	  	<div class="medium-2 columns centerpb ms">3</div>
	  	<div class="medium-3 columns rightpb rus">3</div>
	</div>
</div>