<h1>
	Rate the food you ate!
</h1> 	
<div class = "plategroup">
	<ul class="small-block-grid-3 plategroup">
	  <li>
	  	<div class = "plates">
	  		<div class = "platetext">
	  			<br>
	  			<br>
	  			<div class = "name">
	  				Chicken
	  			</div>
	  			<div class="rating stars">
					<span>☆</span><span>☆</span><span>☆</span>
				</div>
			</div>
	  	</div>
	  </li>
	  <li>
	  	<div class = "plates">
	  		<div class = "platetext">
	  			<br>
	  			<br>
	  			<div class = "name">
	  				Cake
	  			</div>
	  			<div class="rating stars">
					<span>☆</span><span>☆</span><span>☆</span>
				</div>
			</div>
	  	</div>
	  </li>
	  <li>
	  	<div class = "plates">
	  		<div class = "platetext">
	  			<br>
	  			<br>
	  			<div class = "name">
	  				Pasta
	  			</div>
	  			<div class="rating stars">
					<span>☆</span><span>☆</span><span>☆</span>
				</div>
			</div>
	  	</div>
	  </li>
	</ul>
</div>

<div id="buttondiv">
	<div class = "row">
		<div class="medium-4 columns">&nbsp;</div>
		<div class="medium-2 columns">
			<a href="food_selection" class="button large">Previous</a>
		</div>
		<div class="medium-2 columns">
			<a href="descriptor1" class="button large">Continue</a>
		</div>
		<div class="medium-4 columns">&nbsp;</div>
	</div>
</div>

<div id="footer">
	<div class="row">
	  	<div class="medium-3 columns leftpb ls"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb mus"></div>
	  	<div class="medium-2 columns centerpb mus"></div>
	  	<div class="medium-3 columns rightpb rus"></div>
	</div>
</div>