<h1>which one u want fam</h1>
<ul>
	<li>
		<%= link_to("chiken or some shit", controller: "feedback", action: "end")%>
	</li>
	<li>
		<%= link_to("vegetables", controller: "feedback", action: "end")%>
	</li>
	<li>
		<%= link_to("racism", controller: "feedback", action: "end")%>
	</li>
</ul>
<div id="buttondiv">
	<div class = "row">
		<div class="medium-4 columns">&nbsp;</div>
		<div class="medium-2 columns">
			<a href="descriptors" class="button large">Previous</a>
		</div>
		<div class="medium-2 columns">
			<a href="end" class="button large">Submit</a>
		</div>
		<div class="medium-4 columns">&nbsp;</div>
	</div>
</div>
<div id="footer">
	<div class="row">
	  	<div class="medium-3 columns leftpb ls"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-2 columns centerpb ms"></div>
	  	<div class="medium-3 columns rightpb rus"></div>
	</div>
</div>